<app-menu></app-menu>
<div class="card">
    <p-table [value]="listaExamenes" [scrollable]="true" scrollHeight="500px">
        <ng-template pTemplate="header">
            <tr>
                <th>Materia</th>
                <th>Cuatrimestre</th>
                <th>Año</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-examen>
            <tr>
                <td>{{examen.materia}}</td>
                <td>{{examen.cuatrimestre}}</td>
                <td>{{examen.anio}}</td>
                <td><button (click)="mostrarDetalle(examen)">Detalle</button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div [hidden]="ocultar">
    <app-mostrar-notas [notas]="nota"></app-mostrar-notas>
    <app-detalle-acat [acta]="detalle"></app-detalle-acat>
</div>