<app-menu></app-menu>
<div class="card">
    <p-table [value]="listadoMaterias" [scrollable]="true" scrollHeight="500px">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Cuatrimestre</th>
                <th>Año</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-materia>
            <tr [appCupoAlumnos]="materia.alumnos" (click)="mostrarDetalle(materia)" role="button">
                <td>{{materia.nombre}}</td>
                <td>
                <select name="select" class="form-control" [(ngModel)]="materia.cuatrimestre" disabled>
                    <option value="1">Primer</option> 
                    <option value="2">Segundo</option>
                </select></td>
                <td>{{materia.anio}}</td>
                <td><button (click)="mostrarDetalle(materia)">Detalle</button></td>
            </tr>
        </ng-template>
    </p-table>
    <div class="col-md-8 order-md-1" [hidden]="ocultar">
        <app-detalle [materia]="materia"></app-detalle>
    </div>
</div>